/UpgradeLog.XML
/_ReSharper.SampleWorkspacesApp
/_UpgradeReport_Files
/DockPanel Changing.txt
/Output
/*.suo
/Libraries/DockPanel Suite/*.suo
/Libraries/MdiTabControl/_ReSharper.MdiTabControl
/Libraries/MdiTabControl/_UpgradeReport_Files
/Libraries/MdiTabControl/UpgradeLog.XML
